@use 'breakpoints' as *;
@use 'colors' as  *;

@mixin mq($key) {
  $size: map-get($breakpoints, $key);

  @media only screen and (max-width: $size) {
    @content;
  }
}
@mixin transition {
  transition: all 0.5s ease;
}
@mixin flex($flex : row) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $flex;
}
.btn {
  padding: 0.5rem 1rem;
  background: $primary-light;
  color: $secondary-light;
  @include transition;
  &:hover {
    background: $primary-medium;
    color: $secondary-light;
  }
}
.heading {
  margin-bottom: 6rem;
  align-items: center;
  .ring {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 2px solid $primary-dark;
    position: relative;
    display: inline-block;
    .line {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 30px;
      height: 2px;
      background: $primary-dark;
    }
  }

  h1 {
    color: $primary-dark;
    margin-left: 2rem;
    margin-bottom: 1rem;
    display: inline-block;
    font-size: 2.5rem;
    font-weight: 700;
  }
  @include mq(small) {
    h1 {
      font-size: 1.5rem;
    }
  }
}
